body {
    background: #0f172a;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    width: 400px;
    margin: 80px auto;
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    resize: none;
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    background: #22c55e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #16a34a;
}

#result {
    margin-top: 20px;
    text-align: left;
}
